<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="app_version" value="1.0.0" />
    <add key="app_exe" value="KuranSunnetullah.exe" />
    <add key="app_id" value="4" />
    <add key="api_adress" value="https://www.furkanozturklab.com/api" />
    <add key="api_token" value="3880e3911194875eace8d0fcba5bfecc"/>
    <add key="post_apiName" value="publicApp" />
    <add key="user_rememberMe" value="false" />
    <add key="user_pin" value="" />
    <add key="user_autoLogin" value="false" />
    <add key="app_animationSpeed" value="300" />
    <add key="app_remiderTime" value="10" />
    <add key="app_remiderWaitTime" value="60" />
    <add key="app_remiderCount" value="3" />
    <add key="app_warningShowTime" value="3" />
    <add key="app_arabicFont" value="XBZar" />
    <add key="app_readBackColor" value="#FFFFFFFF"/>
    <add key="app_arabicFontSize" value="24" />
    <add key="app_arabicFontExSize" value="36" />
    <add key="app_langues" value="tr-TR" />
    <add key="app_write" value="" />
  </appSettings>
</configuration>